/* CSS Styles */
body {
    /* background-image: url(../pix2/hubblestransparent.png), url(../pix2/stars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;*/
    background: url(../pix2/hubblestransparent.png) center no-repeat fixed,
                url(../pix2/stars.png) center no-repeat fixed black;
    background-size: contain,
                     cover;
}
#wrapper {
    position: fixed;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    background: white;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
}